.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8A7869;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 10px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #BAA899;
    color: #FFFFFF;
    text-align: center;

}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #FFFFFF;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #8A7869;
    font-size: 20px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 18%;
    height: 50px;
    border: none;
    background: hsl(27, 14%, 48%);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
